<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="">
      <div class="container flex">
        <a href="/"> Home </a>
        <span>
          <button class="btn">
            <a href="#"> Add Article </a>
          </button>
        </span>
      </div>
    </header>
    <main>
      <form action="/articles/<%= article.id %>" method="POST" class="form">
        <h3>All Articles</h3>
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="Add Title"
          value="<%= article.title %>"
        />
        <textarea
          class="form-textarea"
          name="description"
          rows="4"
          placeholder="Add Description"
        >
        <%="article.description"%>
    </textarea
        >
        <input
          type="text"
          class="form-control"
          name="tags"
          placeholder="Tags"
          value="<%= article.tags %>"
        />
        <input
          type="text"
          name="author"
          class="form-control"
          placeholder="Author"
          value="<%= article.author %>"
        />
        <div>
          <button type="submit">Update Article</button>
        </div>
      </form>
    </main>
  </body>
</html>
